*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0px;
  padding: 0px;
  background: white;
}

header{
  width: 100%;
  height: 150px;
  background: white;
  border-bottom: 4px solid black
}

header::after{
  content: '';
  clear: both;
  display: table;
}

.in{
  width: 30%;
  height: 150px;
  float: left;
}

.in img{
  width: 50%;
  height: 110px;
  margin-left: 25%;
  margin-top: 20px;
}

.out{
    width: 70%;
    height: 150px;
    float: right;
}

.out nav{

}

.out nav ul{

}

.out nav ul li{
  display: inline-block;
  text-align: center;
  width: 13%;
  margin-left: 2%;
  margin-top: 70px;
  border-bottom: 3px solid white;
}

.out nav ul li:hover{
  border-bottom: 3px solid yellow;
}

.out nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.out nav ul li a:hover{
  color: yellow;
}

section{
  width: 100%;
}

.contanier{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contanier::after{
  content: '';
  display: table;
  clear: both;
}

.box{
  width: 50%;
  float: left;
}

.box form{
  width: 96%;
  margin-left: 2%;
  margin-top: 40px;
  margin-bottom: 40px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.rit{
  width: 100%;
}

.rit label{
  width: 96%;
  margin-left: 2%;
  color: black;
}

.rit input{
  width: 96%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 2%;
  background: white;
  border: 2px solid black;
  color: black;
}

.rit select{
  width: 96%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 2%;
  background: white;
  border: 2px solid black;
  color: black;
}

.rit textarea{
  width: 96%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 2%;
  background: white;
  border: 2px solid black;
  color: black;
}

.rit button{
  width: 96%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 2%;
  background: white;
  border: 2px solid black;
  color: black;
}

.inbox{
  width: 50%;
  float: right;
}
