*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0px;
  padding: 0px;
  background: white;
}

header{
  width: 100%;
  height: 150px;
  background: white;
  border-bottom: 4px solid black
}

header::after{
  content: '';
  clear: both;
  display: table;
}

.in{
  width: 30%;
  height: 150px;
  float: left;
}

.in img{
  width: 50%;
  height: 110px;
  margin-left: 25%;
  margin-top: 20px;
}

.out{
    width: 70%;
    height: 150px;
    float: right;
}

.out nav{

}

.out nav ul{

}

.out nav ul li{
  display: inline-block;
  text-align: center;
  width: 13%;
  margin-left: 2%;
  margin-top: 70px;
  border-bottom: 3px solid white;
}

.out nav ul li:hover{
  border-bottom: 3px solid yellow;
}

.out nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.out nav ul li a:hover{
  color: yellow;
}

section{
  width: 100%;
}

.contanier{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contanier::after{
  content: '';
  display: table;
  clear: both;
}

.box{
  width: 30%;
  background: white;
  float: left;
}

.box h2{
  text-align: center;
  text-decoration: underline;

}

.box nav{
  width: 100%;
}

.box nav ul{

}

.box nav ul li{
  list-style: none;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: yellow;
  font-size: 30px;
  text-align: center;

}

.box nav ul li:hover{
  background: linear-gradient(yellow 20%,orange 80%);
}

.box nav ul li a{
  text-decoration: none;
  color: white;
}

.inbox{
  width: 70%;
  float: right;
}

.inbox h2{
  font-size: 30px;
  width: 90%;
  margin-left: 2%;
  margin-bottom: 20px;
  text-align: center;
  border-bottom:2px solid black;
  float: right;
}

.inbox p{
  font-size: 40px;
  width: 90%;
  margin-left: 5%;
}
